.add-photo-button-container {
  float: right;
}

.screen-blur {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, .7);
  z-index: 100;
}

.photo-form-container {
  left: 50%;
  margin-left: -250px;
  top: 15%;
  width: 500px;
  height: 500px;
  position: fixed;
  background: #F5F5F1;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 12px;
}

.image-preview-container {
  width: 400px;
  height: 400px;
  margin: auto;
  background: transparent;
  position: relative;
  overflow: hidden;
}

.photo-modal-button {
  cursor: pointer;
}

.photo-modal-button.disabled {
  cursor: default;
  background: black;
}

.photo-modal-caption {
  position: absolute;
  bottom: 25px;
  left: 25px;
  font-size: 16px;
  width: 300px;
  opacity: .7;
}

.add-a-photo {
  width: 100%;
  height: 100%;
}

.add-a-photo > img {
    opacity: .2;
}

.modal-cancel-button:before {
  content: "X";
}

.modal-cancel-button {
  font-weight: 900;
  font-size: 20px;
  display: block;
  padding: 10px 12px;
  color: #B7B8B2;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.photo-form-container > p {
  text-align: center;
  display: block;
  font-size: 24px;
  color: #B7B8B2;
  font-style: italic;
  font-weight: 900;
}

.big-red-button.modal-submit-button {
  margin: auto;
  display: block;
  width: 100px;
  text-align: center;
  margin-top: 15px;
}

.modal-cancel-button:hover {
  color: #383837;
}

.photo-form-container:hover {
  cursor: pointer;
  box-shadow: 0 0 20px #B7B8B2;
}
