.restaurant-show {
  width: 960px;
  min-height: 500px;
  margin: auto;
  padding: 20px 0;
}

.restaurant-profile-photo {
  width: 220px;
  border-radius: 5px;
  float: left;
}

.static-map {
  width: auto;
  padding: 10px;
  border: 1px solid #E5E5E1;
  background: white;
  float: left;
  margin-top: 15px;
}

.restaurant-show > h1 {
  font-size: 30px;
  font-weight: bold;
}

.restaurant-show > .address {
  display: block;
}

.restaurant-show > .dollar-signs {

}
