.restaurant-show {
  width: 960px;
  min-height: 500px;
  margin: auto;
  padding: 20px 0;
}

.restaurant-show > img {
  width: 100px;
}

.restaurant-show > h1 {
  font-size: 30px;
  font-weight: bold;
}
