.restaurant-info-mini-container > img {
  width: 90px;
  height: 90px;
  border-radius: 7px;
  float: left;
  margin-right: 50px;
}

.review-form {
  font-weight: 900;
}

.review-form > label {
  margin-right: 10px;
}

.review-form > select {
  margin: 20px 0;
}

.review-form > textarea {
  float: right;
  width: 300px;
  height: 200px;
}

.review-body > .big-red-button {
  margin: auto;
  white-space: nowrap;
  width: auto;
}

.star {
  float: left;
  margin-left: 5px;
}

.star > img {
  width: auto;
}

.review-body {
  border-radius: 2px;
  border: 1px solid #aaa;
  background: #F5F5F1;
  padding: 10px;
  width: 300px;
  margin: auto;
}

.rating-selector {
  padding: 10px 20px 20px;
  border-bottom: 1px solid #aaa;
}

.review-body > textarea {
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  resize: none;
  outline: none;
  min-height: 200px;
  font-size: 14px;
  width: 100%;
}
