.new-review {
  min-height: 450px;
}

.review-form.new-review {
  margin: 100px auto 250px auto;
}

.review-form.new-review > h1 {
  margin-bottom: 25px;
}

.restaurant-info-mini-container > img {
  width: 90px;
  height: 90px;
  border-radius: 7px;
  float: left;
  margin-right: 50px;
}

.restaurant-info-mini-container {
  margin-bottom: 50px;
}

.restaurant-info-mini-container > * {
  margin-bottom: 5px;
}

.restaurant-info-mini-container > .address {
  font-size: 14px;
}

.restaurant-info-mini-container > a {
  font-weight: 900;
  color: #3B65A7;
}

.review-form-body > label {
  margin-right: 10px;
}

.review-form-body > select {
  margin: 20px 0;
}

.review-form-body > textarea {
  float: right;
  width: 300px;
  height: 200px;
}

.review-form-body > .big-red-button {
  margin: auto;
  white-space: nowrap;
  width: auto;
}

.big-red-button.disabled {
  background: #aaa;
}

.big-red-button.disabled:hover {
  background: #aaa;
  cursor: default;
}

.big-red-button.submit-button.submit {
  display: block;
  width: 145px;
  margin: auto;
}

.star {
  float: left;
  margin-left: 5px;
}

.star > img {
  width: auto;
}

.review-form-body {
  border-radius: 2px;
  border: 1px solid #aaa;
  background: #F5F5F1;
  padding: 10px;
  width: 300px;
  float: left;
  position: relative;
}

.review-updated {
  position: absolute;
  top: 25px;
  right: 25px;
  font-weight: 900;
  color: #BD0E01;
}

.rating-selector {
  padding: 10px 0 20px;
  border-bottom: 1px solid #aaa;
}

.review-form-body > textarea {
  background: transparent;
  margin: 0;
  padding: 10px 0;
  border: 0;
  resize: none;
  outline: none;
  height: 100px;
  font-size: 14px;
  width: 100%;
}

.new-review-left {
  width: 50%;
  float: left;
  padding: 10px 20px 20px;
  box-sizing: border-box;
  border-right: 1px solid #F5F5F1;
}

.new-review-right {
  width: 50%;
  float: right;
}

.new-review-right > h3 {
  margin-bottom: 10px;
  margin-left: 100px;
  color: #BD0E01;
  font-weight: 900;
}

.new-review-right > .review-list {
  width: 350px;
  float: right;
}

.delete-review-button {
  float: left;
  color: red;
  text-decoration: underline;
  font-size: 12px;
  margin-top: 12px;
}

.review-form-length-counter {
  font-size: 12px;
  float: right;
  color: #aaa;
}

.review-form-length-counter.over {
  color: #BD0E01;
  font-weight: 900;
}
