.restaurant-info-mini-container > img {
  width: 90px;
  height: 90px;
  border-radius: 7px;
  float: left;
  margin-right: 50px;
}

.review-form {
  font-weight: 900;
}

.review-form > label {
  margin-right: 10px;
}

.review-form > select {
  margin: 20px 0;
}

.review-form > textarea {
  float: right;
  width: 300px;
  height: 200px;
}

.review-form > .submit-button {
  margin: 20px 0 20px 140px;
  white-space: nowrap;
  width: auto;
}
