// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//RESET!
h1, h2, h3, h4, div, main, body, p, a, ul, li, nav,
main, header, body, footer, article, section, img, form {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  vertical-align: inherit;
}

body {
  font-family: sans-serif;
  background: #F5F5F1;
  color: #333333;
}

header {
  background: #BD0E01;
  height: 76px;
  border-bottom: 1px solid #aaa;
  box-shadow: 0 0 5px black;
}

img {
  display: block;
  width: auto;
  height: 100%;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

main {
  background: white;
}

.search-section {
  padding-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

.map {
  width: 600px;
  height: 600px;
  float: right;
  display: block;
  border: 1px solid #ccc;
}

.search-index-container {
  width: 300px;
  height: 600px;
  float: left;
  display: flex;
  overflow: hidden;
  will-change: overflow;
}

.search-index {
  overflow: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.search-index::-webkit-scrollbar {
    display: none;
}

.search-index-item {
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

.search-index-item > article {
  display: block;
  float: left;
  margin: 0 0 0 15px;
}

.search-index-item-link {
  color: blue;
  text-decoration: underline;
}

.search-index-item:last-child {
  border-bottom: 1px solid #ccc;
}

.no-results {
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}

.restaurant-thumb {
  width: 90px;
  height: 90px;
  border-radius: 7px;
  float: left;
}

.search-nav {
  display: block;
  font-weight: 900;
  background: #F5F5F1;
  border-bottom: 1px solid #ccc;
}

.search-nav-section {
  height: 70px;
  padding: 30px 0;
  width: 960px;
  margin: auto;
}

.search-nav-section > h2 {
  font-size: 21px;
}

.search {
  padding-top: 10px;
  width: 960px;
  background: white;
  margin: auto;
}

.focused {
  background: #F5F5F1;
}

.map-detail > img {
  width: 60px;
  border-radius: 5px;
  float: left;
}

.map-detail > section {
  margin-left: 10px;
  float: right;
  display: block;
  width: 150px;
}

.map-detail > section > h1 {
  font-weight: 900;
}

.map-detail > section > a {
  color: blue;
  text-decoration: underline;
}
