// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//RESET!
h1, h2, h3, h4, div, body, p, a, ul, li, nav,
header, body, footer, article, section, img, form {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  vertical-align: inherit;
}

body {
  font-family: sans-serif;
  background: #F5F5F1;
  color: #333333;
}

header {
  background: #BD0E01;
  border-bottom: 1px solid #aaa;
  box-shadow: 0 0 5px black;
}

.header-nav {
  width: 960px;
  margin: auto;
  display: block;
  padding: 10px 0;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  -webkit-text-stroke: 1px white;
  display: block;
  width: 115px;
  margin: 10px 0;
  float: left;
}

.login-logout {
  float: right;
  margin: 10px 0;
}

.logged-out {
  color: white;
}

.logged-out > a {
  color: white;
  text-decoration: underline;
}

.logged-in {
  color: white;
}

.logged-in > button {
  margin: 10px 0;
}

img {
  display: block;
  width: auto;
  height: 100%;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.search {
  padding-bottom: 50px;
}

.search-container {
  display: block;
  background: white;
}

.search-section {
  border-bottom: 1px solid #ccc;
}

.map {
  width: 600px;
  height: 600px;
  float: right;
  display: block;
  border: 1px solid #ccc;
}

.search-index-container {
  width: 300px;
  height: 600px;
  float: left;
  display: flex;
  overflow: hidden;
  will-change: overflow;
}

.search-index {
  overflow: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.search-index::-webkit-scrollbar {
    display: none;
}

.search-index-item {
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

.search-index-item > article {
  display: block;
  float: left;
  margin: 0 0 0 15px;
}

.search-index-item-link {
  color: blue;
  text-decoration: underline;
}

.search-index-item:last-child {
  border-bottom: 1px solid #ccc;
}

.no-results {
  font-weight: 900;
  font-size: 24px;
  text-align: center;
}

.restaurant-thumb {
  width: 90px;
  height: 90px;
  border-radius: 7px;
  float: left;
}

.search-nav {
  display: block;
  font-weight: 900;
  background: #F5F5F1;
  border-bottom: 1px solid #ccc;
}

.search-nav-section {
  min-height: 70px;
  padding: 30px 0 10px;
  width: 960px;
  margin: auto;
}

.search-nav-section > h2 {
  font-size: 21px;
  margin-bottom: 20px;
}

.search-nav-section > h3 {
  font-size: 14px;
  font-weight: 900;
}

.price-filter {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0 0 0;
  float: left;
  background: white;
}

.price-filter-button-container {
  float: left;
  position: relative;
  border-right: 1px solid #ccc;
}

.price-filter-button {
  padding: 10px 15px;
  font-size: 14px;
  font-weight:400;
  color: #333333;
  display: block;
}

.price-filter-button-container:last-child {
  border: 0;
}

.price-filter-button:hover {
  background: #aaa;
}

.price-filter-button-container:after {
  content: attr(title);
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 43px;
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
}

.price-filter-button-container:before {
  content: "";
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -7px;
  border-top: 5px solid #000;
  border-bottom: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.price-filter-button-container:hover:before,
.price-filter-button-container:hover:after {
  display: block;
}

.search {
  padding-top: 10px;
  width: 960px;
  background: white;
  margin: auto;
}

.focused {
  background: #F5F5F1;
}

.map-detail > img {
  width: 60px;
  border-radius: 5px;
  float: left;
}

.map-detail > section {
  margin-left: 10px;
  float: right;
  display: block;
  width: 150px;
}

.map-detail > section > h1 {
  font-weight: 900;
}

.map-detail > section > a {
  color: blue;
  text-decoration: underline;
}

.form-container {
  background: white;
  display: block;
  width: 1024px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: auto;
  padding: 30px 80px 40px;
  box-sizing: border-box;
  min-height: 300px;
}

.session-form {
  width: 50%;
  float: left;
  padding-right: 90px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
  display: block;
  min-height: 240px;
}

.form > h2 {
  font-weight: 900;
  color: #BD0E01;
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.form > p {
  font-size: 12px;
  display: block;
  margin: 5px 0;
}

.form > .input-container {
  display: block;
  border: 1px solid none;
  margin-top: 15px;
}

.input-container > label {
  color: #BD0E01;
  float: left;
  font-weight: bold;
  font-size: 12px;
  display: block;
  margin: 5px 0;
}

.input-container > input {
  float: right;
  width: 207px;
}

.form > button {
  color: #525252;
  float: right;
  padding: 6px 5px;
  font-weight: bold;
  background: #F8F8F8;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 1px #eee;
}

.form > a {
  text-decoration: underline;
  color: blue;
  font-size: 12px;
  width: 100%;
  text-align: right;
  display: block;
  margin: 10px 0;
}

.user-form {
  width: 40%;
  margin: auto;
}
