.user-nav {
  display: block;
  font-weight: 900;
  background: #F5F5F1;
  border-bottom: 1px solid #ccc;
}

.user-nav-container {
  min-height: 185px;
  padding: 30px 0 10px;
  width: 960px;
  margin: auto;
}

.user-nav-left {
  float: left;
  width: 50%;
  position: relative;
}

.photo-box {
  display: block;
  width: 220px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  left: 20px;
  overflow: hidden;
}

.change-profile-picture {
  display: block;
  background: rgba(0, 0, 0, .7);
  font-size: 12px;
  color: #aaa;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
}

.change-profile-picture:hover {
  background: rgb(0, 0, 0);
  cursor: pointer;
}

.user-show {
  display: block;
  margin: auto;
  width: 960px;
  min-height: 900px;
  background: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  padding: 40px 80px;
}

.profile-info-container {
  margin: auto;
  display: block;
  width: 400px;
  margin-top: 50px;
}

.file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.user-name {
  font-size: 30px;
  display: block;
  font-color: #333333;
  float: right;
}

.user-nav-right {
  float: right;
  margin: 50px 0 0 0;
  width: 300px;
  border-left: 1px solid #ccc;
  padding: 20px;
  height: 85px;
  border: 1px solid none;
}

.user-nav-right > a {
  font-weight: 900;
  display: block;
  margin-bottom: 10px;
}
